<!-- Header -->
<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{'Shipments' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="onSearchTerm($event)" (ionClear) ="getContainerDetails()" 
    placeholder="Search Shipments"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <!-- CHECK BOX --COMPONENT 2 -->
  <!-- <ion-grid class="ion-no-padding"> -->
    <!-- <ion-row> -->
      <!-- <ion-col class="ion-no-padding" size="12" *ngIf="data != null" > -->
        <div *ngIf="showSpinner" style="text-align: center;">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
          
        
        
        <ion-refresher #refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list>
          <ion-item class="transparent" *ngFor="let entry of data" (click)="containerItemClick(entry)">
            <ion-label>
              <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{entry.shipmentNo}}</h2>
            </ion-label>
            <h3 class="ion-text-wrap ion-padding-end text-size-xs text-color-secondary font-light">{{entry.progress === 'Stored'?entry.location:entry.progress}}</h3>
            <ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      <!-- </ion-col> -->
    <!-- </ion-row> -->
  <!-- </ion-grid> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="itemClicked" >
    <ion-fab-button>
      <ion-icon name="add" (click)="bookNow()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
