<!-- lOGIN FROMA --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <!-- <ion-header>
    <ion-toolbar class="transparent">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.headerTitle}}</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- Content -->
  <ion-content *ngIf="data != null" class="transparent">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding ion-align-items-center">
        <!-- <ion-col class="ion-no-padding" size="12" size-md="8" push-md="2">
          <ion-button class="button-clear ion-text-capitalize ion-float-start" fill="clear" (click)="onSkipFunc()">{{data.skip}}</ion-button>
          <ion-button class="button-clear ion-text-capitalize ion-float-end" fill="clear" (click)="onForgotPassword()">{{data.forgotPassword}}</ion-button>
        </ion-col> -->
        <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">
          <!---Logo-->
          <!-- <img [src]="data.logo" /> -->
          <h1 class="ion-text-wrap text-size-xl text-color-accent font-bold">Material Handling System</h1>
          <ion-item lines="none" class="ion-no-padding ion-margin-bottom transparent ion-margin-top">
            <ion-label>
              <!---Logo Subtitle-->
              <!-- <h1 class="ion-text-wrap text-size-md text-color-primary font-light">{{data.subtitle}}</h1> -->
              <!---Logo Title-->
              <!-- <h1 class="ion-text-wrap text-size-xl text-color-accent font-bold">{{data.title}}</h1> -->
            </ion-label>
          </ion-item>
          <!---Form-->
          <form class="ion-margin-top" >
            <!---Input field username-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.labelUsername}}</ion-label>
              <ion-input required type="text" [placeholder]="data.username" [(ngModel)]="item.username" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon *ngIf="!isUsernameValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field password-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.labelPassword}}</ion-label>
              <ion-input required type="password" [placeholder]="data.password" [(ngModel)]="item.password" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon *ngIf="!isPasswordValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            
            
            <!---Login ion-button-->
            <ion-button *ngIf="!loading" expand="block" class="ion-margin-top button-default ion-text-capitalize" (click)="onLoginFunc()">
              {{data.login}}</ion-button>
            <div *ngIf="loading" style="text-align: center; width: 100%;">
              <ion-spinner name="bubbles"></ion-spinner>
            </div>  
            <!---Login ion-button-->
            <!-- <ion-button expand="block" class="ion-margin-top button-default facebook-button ion-text-capitalize" >
              {{data.loginFacebook}}
            </ion-button>
            <div class="ion-text-center description">
              <p class="text-size-sm text-color-primary font-light">{{data.description}} <a class="text-size-sm text-color-accent font-regular" (click)="onRegisterFunc()">{{data.register}}</a></p>
            </div> -->
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
