/* Profile 4
========================================*/
ion-card {

  ion-avatar {
    margin: auto;
  }

  .social-share {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}

/* Settings Slider
======================================*/
ion-slides {
  overflow: visible;
  img {
    width: 100%;
  }
}
