<!-- FORMS --COMPONENT 4 -->
<ion-grid class="ion-no-padding" *ngIf="viewEntered">
  <div>
    <agm-map [latitude]="data.map.lat" [longitude]="data.map.lng" [zoom]="data.map.zoom" [mapTypeControl]="data.map.mapTypeControl" [streetViewControl]="data.map.streetViewControl">
      <agm-marker [latitude]="data.map.lat" [longitude]="data.map.lng">
      </agm-marker>
    </agm-map>
  </div>
  <ion-row class="ion-padding">
    <ion-col class="ion-no-padding textarea" size="12">
      <ion-item class="ion-no-padding" lines="none" input>
        <ion-textarea rows="100%" cols="1" [placeholder]="data.descriptionPlaceholder" [(ngModel)]="item.description"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-padding" size="12">
      <ion-button expand="block" class="ion-margin-top ion-text-capitalize button-default" (click)="onSubmitFunc()">
        {{data.btnSubmit}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
