/* Style component 4
========================================================*/

agm-map {
  height: 250px;
}

ion-grid {
  height: 100%;

  ion-row {
    height: calc(100% - 300px);

    ion-item {
      --background: var(--cs-background-primary);
      border-bottom: 1px solid var(--cs-background-border);
    }

    .item-has-focus,
    .item-has-value {
      border-bottom: 1px solid var(--cs-background-accent);
    }

    .textarea {
      min-height: 280px;
      height: 100%;

      ion-item {
        height: 100%;
        width: 100% !important;
        display: -webkit-inline-box;

        ion-textarea {
          height: 100%;
          width: 100% !important;
        }
      }
    }
  }
}
