<!-- Theme Segment - Segment List -->
<ion-page class="ion-page" *ngIf="viewEntered">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="data != null" class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
    <!--Segment Section -->
    <ion-toolbar class="ion-no-padding">
        <ion-segment scrollable [(ngModel)]="selectedItem">
          <ion-segment-button class="ion-text-capitalize" value="Page1">
            <ion-label>
              {{data.segmentButton1}}
            </ion-label>
          </ion-segment-button>
          <ion-segment-button class="ion-text-capitalize" value="Page2">
            <ion-label>
              {{data.segmentButton2}}
            </ion-label>
          </ion-segment-button>
          <ion-segment-button class="ion-text-capitalize" value="Page3">
            <ion-label>
              {{data.segmentButton3}}
            </ion-label>
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
  </ion-header>
  <!-- Content-->
  <ion-content>
    <ion-grid class="ion-no-padding" *ngIf="data != null">

      <!--- SETTINGS PAGE1 SCREEN -->
      <ion-row class="page1" *ngIf="isEnabled('Page1') && data.page1 != null">
        <ion-col size="12" class="ion-no-padding">
          <ion-card class="ion-no-padding ion-no-margin no-border-radius no-box-shadow">
            <ion-item class="transparent" lines="none">
              <ion-avatar>
                <img [src]="data.page1.image" alt="">
              </ion-avatar>
            </ion-item>
            <ion-item lines="none" class="ion-text-center transparent">
              <ion-label class="ion-text-wrap">
                <h1 class="text-size-md text-color-primary font-light">{{data.page1.title}}</h1>
                <p class="text-size-xs text-color-secondary font-light">{{data.page1.subtitle}}</p>
              </ion-label>
            </ion-item>
            <div class="clearfix"></div>
            <div class="social-share">
              <!-- Followers-->
              <ion-item class="transparent" lines="none">
                <ion-label class="ion-text-center">
                  <span class="text-size-xs text-color-accent font-regular">{{data.page1.valueFollowers}}</span>
                  <h2 class="text-size-xs text-color-accent font-regular">{{data.page1.followers}}</h2>
                </ion-label>
              </ion-item>
              <!-- Following -->
              <ion-item class="transparent" lines="none">
                <ion-label class="ion-text-center">
                  <span class="text-size-xs text-color-accent font-regular">{{data.page1.valueFollowing}}</span>
                  <h2 class="text-size-xs text-color-accent font-regular">{{data.page1.following}}</h2>
                </ion-label>
              </ion-item>
              <!-- Post -->
              <ion-item class="transparent" lines="none">
                <ion-label class="ion-text-center">
                  <span class="text-size-xs text-color-accent font-regular">{{data.page1.valuePosts}}</span>
                  <h2 class="text-size-xs text-color-accent font-regular">{{data.page1.posts}}</h2>
                </ion-label>
              </ion-item>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-no-padding">
          <h2 class="ion-text-center ion-text-uppercase text-size-xl text-color-primary font-light">{{data.page1.category}}</h2>
        </ion-col>
        <!-- Slider-->
        <ion-col size="12" class="ion-no-padding">
          <ion-slides pager="true">
            <ion-slide *ngFor="let item of data.page1.items;let i = index" (click)="onItemClickFunc(item, $event)">
              <ion-card class="ion-no-padding ion-no-margin no-border-radius no-box-shadow">
                <span class="text-size-xs text-color-primary font-bold ion-text-capitalize">{{item.category}}</span>
                <h2 class="ion-text-wrap text-size-md text-color-secondary font-regular">{{item.title}}</h2>
                <div class="social">
                  <ion-button class="button-icon ion-text-capitalize" (click)="onLikeFunc(item, $event)">
                    <ion-icon class="icon-font-sm icon-color-primary" slot="start" [name]="item.like.icon"></ion-icon>
                    {{item.like.number}} {{item.like.text}}
                  </ion-button>
                  <ion-button class="button-icon ion-text-capitalize">
                    <ion-icon class="icon-font-sm icon-color-primary" slot="start" [name]="item.comment.icon"></ion-icon>
                    {{item.comment.number}} {{item.comment.text}}
                  </ion-button>
                </div>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>

      <!--- SETTINGS PAGE2 SCREEN -->
      <ion-row class="page2" *ngIf="isEnabled('Page2') && data.page2 != null">
        <ion-col size="12" size-md="6" *ngFor="let item of data.page2.items">
          <ion-card class="padding-half ion-no-margin no-box-shadow">
            <div class="border-radius gradient-image">
              <ion-img [src]="item.image"></ion-img>
            </div>
            <ion-card-content class="ion-no-padding" (click)="onItemClickFunc(item, $event)">
              <h3 class="text-color-primary text-size-xs fiont-regular ion-padding-top">{{item.subtitle}}</h3>
              <h2 class="ion-padding-top ion-padding-bottom text-size-md text-color-bold font-bold">{{item.title}}</h2>
              <p class="text-size-p text-color-secondary font-light">{{item.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!--- SETTINGS PAGE3 SCREEN -->
      <ion-row class="page3" *ngIf="isEnabled('Page3') && data.page3 != null">
        <ion-col class="ion-no-padding" size="12">
          <ion-item class="transparent">
            <ion-label>
              <!---About Name-->
              <h1 class="ion-text-wrap text-size-xl text-color-accent font-bold ion-padding-bottom border">{{data.page3.title}}</h1>
              <h2 class="text-size-md font-light text-color-primary ion-padding-bottom ion-padding-top border">{{data.page3.titleDescription}}</h2>
              <h2 class="ion-no-margin text-color-primary ion-text-wrap ion-padding-top">{{data.page3.contentTitle}}</h2>
              <p class="ion-text-wrap text-color-secondary text-size-xs font-light">{{data.page3.contentDescription}}</p>
            </ion-label>
          </ion-item>
          <!---About Info-->
          <ion-list>
            <ion-item class="transparent">
              <i slot="start" class="icon-color-accent icon-font-md" class="icon {{data.page3.iconLoacation}}"></i>
              <p class="font-light text-size-md text-color-primary">{{data.page3.iconLoacationText}}</p>
            </ion-item>
            <ion-item lass="transparent">
              <i slot="start" class="icon-color-accent icon-font-md" class="icon {{data.page3.iconWatch}}"></i>
              <p class="font-light text-size-md text-color-primary">{{data.page3.iconWatchText}}</p>
            </ion-item>
            <ion-item lass="transparent">
              <i slot="start" class="icon-color-accent icon-font-md" class="icon {{data.page3.iconPhone}}"></i>
              <p class="font-light text-size-md text-color-primary">{{data.page3.iconPhoneText}}</p>
            </ion-item>
            <ion-item lass="transparent">
              <i slot="start" class="icon-color-accent icon-font-md" class="icon {{data.page3.iconEarth}}"></i>
              <p class="font-light text-size-md text-color-primary">{{data.page3.iconEarthText}}</p>
            </ion-item>
            <ion-item lass="transparent">
              <i slot="start" class="icon-color-accent icon-font-md" class="icon {{data.page3.iconEmail}}"></i>
              <p class="font-light text-size-md text-color-primary">{{data.page3.iconEmailText}}</p>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12">
          <!---MAP TEXT-->
          <h2 class="ion-margin-start text-size-md text-color-primary font-regular">{{data.page3.titleMap}}</h2>
          <agm-map [latitude]="data.page3.map.lat" [longitude]="data.page3.map.lng" [zoom]="data.page3.map.zoom" [mapTypeControl]="data.page3.map.mapTypeControl" [streetViewControl]="data.page3.map.streetViewControl">
            <agm-marker [latitude]="data.page3.map.lat" [longitude]="data.page3.map.lng"></agm-marker>
          </agm-map>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</ion-page>
