<!-- FORMS --COMPONENT 2 -->
<ion-grid class="ion-no-padding" *ngIf="viewEntered">
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding ion-text-center border" size="12">
      <span class="text-size-md text-color-primary font-regular">{{data.rateTitle}}</span>
      <div class="clearfix"></div>
      <div class="icon-rating padding-half">
        <div icon *ngFor="let item of data.iconsStars;let i = index" (click)="onRatesFunc(data.iconsStars, i, $event)">
          <i *ngIf="item.isActive" class="icon {{item.iconActive}} icon-font-md icon-color-accent"></i>
          <i *ngIf="!item.isActive" class="icon {{item.iconInactive}} icon-font-md icon-color-primary"></i>
        </div>
      </div>
      <div class="clearfix"></div>
      <span class="text-size-xs text-color-primary font-light">{{data.title}}</span>
    </ion-col>
    <ion-col class="ion-padding-end ion-padding-start textarea" size="12">
      <ion-item class="ion-no-padding" lines="none" input>
        <ion-textarea rows="100%" cols="1" [placeholder]="data.descriptionPlaceholder" [(ngModel)]="item.description"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col class="ion-padding-start ion-padding-end "size="12">
      <ion-button expand="block" class="ion-text-capitalize button-default" (click)="onSubmitFunc()">
        {{data.btnSubmit}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
