<!-- COMMENTS --COMPONENT 2 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list>
        <!-- All components -->
        <ion-list-header class="ion-margin-bottom border">
          <h2 class="ion-margin-top text-size-xl text-color-primary font-bold" >{{data.allComments}}</h2>
        </ion-list-header>
        <!-- Avatar and size -->
        <ion-item class="transparent" *ngFor="let item of data.items"
        >
          <ion-avatar slot="start" class="ion-align-self-start">
            <img [src]="item.image">
          </ion-avatar>
          <ion-label>
            <h2 class="text-size-xs text-color-primary font-light">{{item.title}}</h2>
            <p class="text-size-sm font-light text-color-secondary">{{item.time}}</p>
            <p class="ion-text-wrap ion-padding-top text-size-p font-light text-color-secondary">
              {{item.description}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
