<ion-app>

  <!-- PAGE 1 -->
  <cs-register-layout-1 *ngIf="isType(0)" [data]="data" (onRegister)="onRegister($event)" (onSkip)="onSkip()">
  </cs-register-layout-1>

  <!-- PAGE 2 -->
  <cs-register-layout-2 *ngIf="isType(1)" [data]="data" (onRegister)="onRegister($event)" (onSkip)="onSkip()">
  </cs-register-layout-2>

</ion-app>
