<!-- DRAGEN AND DROP --COMPONENT 1 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list>
        <ion-list-header class="border">
          <ion-item lines="none" class="ion-no-padding transparent">
            <!-- Header Title -->
            <ion-label>
              <h1 class="text-size-xl text-color-primary font-bold">{{data.header}}</h1>
            </ion-label>
          </ion-item>
        </ion-list-header>
        <ion-reorder-group disabled="false" (ionItemReorder)="ionItemReorder($event)">
          <ion-item *ngFor="let item of data.items" (click)="onItemClickFunc(item)">
            <ion-label>
              <!-- Content Title -->
              <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h2>
              <!-- Content Subtitle -->
              <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</h3>
            </ion-label>
            <!-- Content Subtitle -->
            <p class="ion-text-wrap text-size-xs text-color-secondary font-light padding-half">{{item.textIcon}}</p>
            <ion-reorder class="ion-no-margin padding-half" slot="end">
              <ion-icon class="icon-color-secondary icon-font-lg" name="reorder-three"></ion-icon>
            </ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
