<ion-content>
  <!-- Content -->
  <ion-grid *ngIf="data != null">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-item lines="none" class="transparent">
          <ion-label>
            <h1 class="ion-no-margin text-color-accent font-bold text-size-xl">{{data.title}}</h1>
          </ion-label>
          <span slot="end" class="text-color-accent font-light text-size-md ion-text-capitalize ion-padding-end">
            {{data.buttonSeeAll}}
          </span>
          <ion-icon class="icon-font-md icon-color-accent" slot="end" [name]="data.icon"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-no-padding slider">
        <ion-card class="no-border-radius no-box-shadow" *ngFor="let item of data.slider">
          <div class="gradient-image border-radius">
            <ion-img [src]="item.image" [alt]="item.imageAlt"></ion-img>
          </div>
          <ion-card-content class="ion-text-center ion-no-padding">
            <h3 class="text-size-xs text-color-secondary font-light ion-text-wrap ion-no-margin ion-padding-top">{{item.subtitle}}</h3>
            <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h2>
            <ion-button class="button-icon">
              <ion-icon class="icon-font-md icon-color-primary" slot="start" [name]="item.iconLike"></ion-icon>
              {{item.like}}
            </ion-button>
            <ion-button class="button-icon">
              <ion-icon class="icon-font-md icon-color-primary" slot="start" [name]="item.iconComment"></ion-icon>
              {{item.comment}}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" *ngFor="let item of data.items; let i= index" (click)="onItemClickFunc(item, $event)">
        <!-- Card -->
        <ion-card class="ion-no-padding no-box-shadow border-radius ion-no-margin background-size gradient-image" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
          <ion-card-header class="ion-text-center transparent">
            <h1 class="ion-text-wrap ion-no-margin font-bold text-color-light text-size-xl">{{item.title}}</h1>
          </ion-card-header>
          <ion-card-content class="ion-text-center transparent">
            <span class="text-size-md font-bold ion-text-uppercase text-color-light">{{item.time}}</span>
            <p class="text-size-xs text-color-light font-light">{{item.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
