<!-- ANIMATION--COMPONENT 2 -->
<ion-grid class="ion-no-padding" *ngIf="data && data.items">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list appAnimateItems className="fadeInLeft">
        <!--Header-->
        <ion-list-header class="border ion-padding">
          <ion-label lines="none">
            <h1 class="ion-text-wrap ion-padding-bottom text-size-xl text-color-primary font-bold">
              {{data.header}}</h1>
              <h1 class="ion-text-wrap text-size-md text-color-primary font-light">
                {{data.title}}</h1>
              <h2 class="ion-text-wrap text-size-xs text-color-secondary font-light">
                {{data.subtitle}}</h2>
            </ion-label>
            <!--Header Button Procead---->
            <!-- (click)="onProceedFunc(data, $event)" -->
            <ion-button class="button-round" shape="round" fill="outline"
            >
              {{data.button}}
            </ion-button>
        </ion-list-header>
        <!-- Content -->
          <ion-item class="animation-normal opacity-0" *ngFor="let item of data.items"
          (click)="onItemClickFunc(item)">
            <!-- Avatar -->
            <ion-thumbnail>
              <img [src]="item.image">
            </ion-thumbnail>
            <ion-label class="ion-padding-start">
              <h2 class="ion-text-wrap ion-text-capitalize  text-size-md text-color-primary font-light">
                {{item.title}}</h2>
              <h3 class="ion-text-wrap text-size-xs text-color-primary font-light">
                {{item.subtitle}}</h3>
            </ion-label>
              <!-- Badge -->
              <ion-badge class="margin-half">
                {{item.price}}</ion-badge>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
