<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{'Setting' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="loading">
  <ion-list>
    <ion-list-header color="primary">{{ 'languages' | translate }}</ion-list-header>
    <ion-radio-group [value]="translation.lang" (ionChange)="onChangeLang($event)">
      <ion-item *ngFor="let language of languages">
        <ion-label>{{language.title}}</ion-label>
        <ion-radio value="{{language.code}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list-header color="primary">{{ 'project_based' | translate }}</ion-list-header>
  <form novalidate [formGroup]="user" [hidden]="formHidden">
    
    <ion-item class="ion-no-padding ion-margin-start transparent ion-margin-bottom">
      <ion-label class="text-size-xs text-color-secondary font-regular">{{'Project' | translate }}</ion-label>
      <ion-select formControlName="project" multiple="false">
        <ion-select-option *ngFor="let project of projectTags" value="{{project.id}}">{{project.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-no-padding ion-margin-start transparent ion-margin-bottom">
      <ion-label class="text-size-xs text-color-secondary font-regular">{{'Status code' | translate}}</ion-label>
      <ion-select formControlName="statuscode" multiple="true">
        <ion-select-option *ngFor="let status of stausCodes" value="{{status.id}}">{{status.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    
  </form>
  <div padding>
    <ion-button expand="full" [disabled]="user.invalid" color="primary" (click)="onSubmit(user)">{{'Save Setting' | translate }}</ion-button>
  </div>

  <ion-button expand="block" (click)="showLogs()"> SHOW URL LOGS </ion-button>
</div>
<div *ngIf="formHidden" style="text-align: center; width: 100%;">
  <ion-spinner name="bubbles"></ion-spinner>
</div>
</ion-content>