/*  Theme Action Sheet - News
===========================================*/
// Settings Big Image
.background-size {
  height: 300px;
  position: relative;

  .title-section {
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
  }
}
