<!--Themes Simple -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12">
      <ion-list lines="none">
        <!-- Header Title Top -->
        <ion-list-header class="ion-margin-bottom border">
          <h1 class="text-size-xl text-color-primary font-bold">{{data.title}}</h1>
        </ion-list-header>
        <!-- List -->
        <ion-radio-group [(ngModel)]="data.selectedItem">
          <ion-item class="transparent" lines="inset"
           *ngFor="let entry of data.items" 
           (click)="onItemClickFunc(entry)">
            <ion-avatar class="gradient-image" slot="start">
              <img [src]="entry.avatar">
            </ion-avatar>
            <ion-label>
              <h2 class="ion-text-wrap text-size-md text-color-primary font-bold">{{entry.title}}</h2>
              <h3 class="ion-text-wrap text-size-xs text-color-secondary font-regular">{{entry.subtitle}}</h3>
            </ion-label>
            <ion-radio [value]="entry.id"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
