<ion-content>
  <ion-gird class="ion-no-padding" *ngIf="data != null">
    <ion-row class="ion-no-padding ion-margin-bottom" *ngIf="data != null">
      <ion-col size="12" class="ion-no-padding">
        <!-- Header Image -->
        <div class="background-size gradient-image" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        </div>
        <!--- Info Block -->
        <ion-item class="ion-text-center info-block transparent ion-no-padding" lines="none">
          <!-- Avatar -->
          <ion-avatar *ngIf="data != null">
            <img [src]="data.avatar" />
          </ion-avatar>
        </ion-item>
        <ion-item class="ion-text-center transparent ion-no-padding" lines="none">
          <ion-label class="ion-padding-start ion-padding-end">
            <!-- Avatar Title -->
            <h1 class="ion-no-margin text-color-primary font-light text-size-lg ion-text-wrap" *ngIf="data != null">{{data.title}}</h1>
            <!-- Avatar Subitle -->
            <h2 class="ion-no-margin text-color-secondary font-light text-size-xs ion-text-wrap" *ngIf="data != null">{{data.subtitle}}</h2>
            <!-- Avatar Description -->
            <h3 class="ion-no-margin text-color-secondary font-light text-size-xs ion-text-wrap" *ngIf="data != null">{{data.description}}</h3>
          </ion-label>
        </ion-item>
      </ion-col>
      <!-- Button Follow -->
      <ion-col size="6" class="ion-padding-start">
        <ion-button class="button-default ion-text-capitalize" expand="block">{{data.follow}}</ion-button>
      </ion-col>
      <!-- Button Massage -->
      <ion-col size="6" class="ion-padding-end">
        <ion-button expand="block" class="ion-text-capitalize button-default">{{data.massage}}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top ion-margin-bottom ion-padding-horizontal ion-padding-bottom" *ngIf="data != null">
      <ion-col size="12" class="ion-no-padding">
        <ion-item class="ion-no-padding transparent" lines="none">
          <ion-label>
            <h1 class="ion-no-margin text-color-primary font-light text-size-md">{{data.listFriends}}</h1>
            <h3 class="ion-no-margin text-color-secondary font-light text-size-xs">{{data.namberFriends}}</h3>
          </ion-label>
          <ion-button class="button-clear ion-text-capitalize" slot="end">
            {{data.buttonSeeAll}}
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size-xs="3" size-xl="2" size-="2" class="ion-no-padding" *ngFor="let item of data.friends;">
        <ion-card class="ion-no-padding card-image">
          <div class="gradient-image border-radius">
            <ion-img [src]="item.image" [alt]="item.imageAlt"></ion-img>
          </div>
          <ion-card-content class="ion-text-center ion-no-padding">
            <h2 class="ion-text-wrap text-size-p text-color-primary font-light">{{item.title}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top ion-padding-horizontal ion-padding-bottom ion-margin-bottom" *ngIf="data != null">
      <ion-col size="12" class="ion-no-padding">
        <ion-item class="ion-no-padding transparent" lines="none">
          <ion-label>
            <h1 class="ion-no-margin text-color-primary font-light text-size-md">{{data.gallery}}</h1>
            <h3 class="ion-no-margin text-color-secondary font-light text-size-xs">{{data.namberImages}}</h3>
          </ion-label>
          <ion-button slot="end" class="ion-text-capitalize button-clear">
            {{data.buttonSeeAllImages}}
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding" size-xs="6" size-xl="4" size="3" *ngFor="let item of data.fullGallery">
        <!-- Card -->
        <ion-card class="border-radius card-image gradient-image">
          <!-- Card Big Image-->
          <ion-img [src]="item.image"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top ion-margin-bottom ion-padding-start" *ngIf="data != null">
      <ion-col size="12" class="ion-no-padding">
        <ion-item class="ion-no-padding transparent" lines="none">
          <ion-label>
            <h1 class="ion-no-margin text-color-primary font-light text-size-md">{{data.timeline}}</h1>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding ion-padding-end" size-xs="12" size-xl="6" size="4" *ngFor="let item of data.items">
        <!-- Card -->
        <ion-card class="ion-no-padding no-border-radius no-box-shadow ion-no-margin">
          <ion-item class="ion-no-padding transparent" lines="none">
            <!-- Avatar -->
            <ion-avatar slot="start" class="gradient-image">
              <img [src]="item.avatar" alt="">
            </ion-avatar>
            <!-- Title And Subtitle -->
            <ion-label class="ion-padding-start">
              <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h2>
              <h3 class="ion-text-wrap" class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</h3>
              <!-- Time -->
              <p class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.time}}</p>
            </ion-label>
          </ion-item>
          <div class="gradient-image border-radius">
            <!-- Images -->
            <img [src]="item.image" alt=""/>
          </div>
          <!-- Content -->
          <ion-card-content class="ion-no-padding ion-margin-bottom">
            <h2 class="ion-text-wrap text-size-md text-color-primary font-regular ion-padding-top">{{item.cardTitle}}</h2>
            <p class="text-size-xs text-color-secondary font-light ion-padding-top">{{item.description}}</p>
            <ion-button class="button-icon ion-text-capitalize">
              <ion-icon slot="start" class="icon-font-md icon-color-primary" [name]="item.iconLike"></ion-icon>
              {{item.numberLike}}
            </ion-button>
            <ion-button class="button-icon ion-text-capitalize">
              <ion-icon slot="start" class="icon-font-md icon-color-primary" [name]="item.iconComment"></ion-icon>
              {{item.numberCommnet}}
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-gird>
</ion-content>
