ion-card {
  height: 200px;
  margin: 0 !important;
  display: flex;
  box-shadow: none !important;
  flex-direction: row;
  width: 100%;

  ion-card-content {
    width: 50% !important;
    display: flex !important;
  }

  ion-item {
    display: flex;
  }
}

ion-col:nth-child(2n) {
  ion-card {
    margin: 0 !important;
    flex-direction: row-reverse;

    ion-card-content:nth-child(2n) {
      background: var(--cs-background-accent);
    }

    .text-color-primary {
      color: var(--cs-text-light) !important;
    }
  }
}
