<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'Stock' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showSearch = !showSearch">
                <ion-icon name="search-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar [hidden]="showSearch">
        <ion-searchbar showCancelButton="focus" (ionChange)="onSearchTerm($event)" (ionClear) ="getStockDetails()" 
        ></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="aForm" [hidden]="!showSearch">
        <ion-list>

            <ion-item>
                <ion-label class="greyColor">Area No</ion-label>
                <ion-input class="increase-Font" type="text" formControlName="areaNo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="greyColor">POS No</ion-label>
                <ion-input class="increase-Font" type="text" formControlName="posNo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="greyColor">Description</ion-label>
                <ion-input class="increase-Font" type="text" formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="greyColor">Product Code</ion-label>
                <ion-input class="increase-Font" type="text" formControlName="productCode"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="greyColor">Supplier</ion-label>
                <ion-input class="increase-Font" type="text" formControlName="supplier"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="greyColor">PO No</ion-label>
                <ion-input class="increase-Font" type="text" formControlName="poNo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="greyColor">Drawing No</ion-label>
                <ion-input class="increase-Font" type="text" formControlName="drawingNo"></ion-input>
            </ion-item>

            <ion-button expand="block" fill="outline" [disabled]="aForm.invalid" (click)="searchForm()">Search</ion-button>


        </ion-list>
    </form>


    <!-- CHECK BOX --COMPONENT 3 -->
    <!-- <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col class="ion-no-padding" size="12"> -->
    <ion-list *ngIf="!showSearch">
        <ion-spinner class="center" *ngIf="showSpinner" color="primary" name="bubbles"></ion-spinner>
        <!-- (click)="onItemClickFunc(entry)" -->
        <ion-item class="transparent" *ngFor="let entry of data">
            <ion-label>
                <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{entry.areaNo ? entry.areaNo + ', ' : '' }} {{entry.posNo}}</h2>
                <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{entry.description}}</h3>
            </ion-label>
            <h3 class="ion-text-wrap ion-padding-end text-size-xs text-color-secondary font-light">{{ entry.locationString ? entry.locationString : '' }}</h3>
            <ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
    </ion-list>
    <!-- </ion-col>
        </ion-row>
    </ion-grid> -->






</ion-content>