<ion-item class="ion-no-padding transparent" *ngIf="data != null">
  <ion-label class="text-size-xs text-color-secondary font-regular ion-text-capitalize ion-padding-start">{{data.header}}</ion-label>
</ion-item>
<ion-item class="ion-no-padding transparent ion-margin-start ion-margin-bottom" *ngIf="data != null">
  <ion-label class="text-size-xs text-color-secondary font-regular">{{data.title}}</ion-label>

  <ion-select interface="popover" [(ngModel)]="data.selectedItemMonth" multiple="false"
    (ionChange)="onChangeMonthFunc()">
    <ion-select-option *ngFor="let item of data.itemsMonth" [value]="item.id">{{item.title}}
    </ion-select-option>
  </ion-select>

  <ion-select interface="popover" [(ngModel)]="data.selectedItemYear" [multiple]="false"
    (ionChange)="onChangeYearsFunc()">
    <ion-select-option *ngFor="let item of data.itemsYears" [value]="item.id">{{item.title}}
    </ion-select-option>
  </ion-select>
</ion-item>
