<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{'QR Code' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="scannedData">
    <!-- Crescent -->
    <ion-spinner name="crescent"></ion-spinner>
    <ngx-qrcode [value]="scannedData"></ngx-qrcode>
    <div class="clock-container clock2">
      <div class="time">{{date}}</div>
    </div>
  </ion-card>


  <ion-card *ngIf="noFound">
    <ion-card-content>
      <p *ngFor="let hero of scannedDataValue">
        Value : {{ hero }} (Not Found)
      </p>
    </ion-card-content>
  </ion-card>
  
  <div padding *ngIf="noFound">
    <ion-button expand="full"  color="primary"  (click)="scanCode()">Scan Again</ion-button>
  </div>
  <!-- <ion-grid *ngIf="scannedData">
    <ion-row>
        <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button expand="full" class="ion-text-wrap min-max-width" (click)="bookNow()">Continue</ion-button>
        </ion-col>

        <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button expand="full" class="ion-text-wrap min-max-width" (click)="validateQRCode('qwerty1357')">Scan More</ion-button>
        </ion-col>
    </ion-row>
</ion-grid> -->

</ion-content>
