<ion-app>
    <!-- Header -->
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title >{{'Home' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <!-- Content -->
    <ion-content class="transparent">
        <ion-grid class="background-size gradient-image" [ngStyle]="{'background-image': 'url(' + item.background + ')'}">
            <ion-row>
                <ion-col size="12" class="ion-align-self-end">
                    <div class="ion-text-center">
                        <h3 class="text-size-xs text-font-md text-color-light ion-text-uppercase">{{item.title}}</h3>
                    </div>
                    <div class="ion-text-left">

                        <br><br>
                        <h2 class="text-size-xs text-font-md text-color-light">

                        </h2>

                    </div>
                </ion-col>
                <ion-col size="12" class="ion-align-self-end">

                    <!--<ion-label>
                        <p class="text-size-xs text-font-md text-color-light ion-text-wrap">{{item.subtitle1}}<br /><br /> {{item.subtitle2}}
                            <br /><br /> {{item.subtitle3}}<br /><br /> {{item.subtitle4}}</p>
                    </ion-label>-->

                </ion-col>
                <ion-col size="12" class="ion-align-self-end">

                    <ion-label>
                        <!--<p class="text-size-xs text-font-md text-color-light ion-text-wrap">{{item.description}}</p>-->
                    </ion-label>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-app>