<!-- ALERT --COMPONENT 1 -->
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of data.items" (click)="presentAlert(item)">
      <ion-card class="ion-no-padding ion-no-margin no-box-shadow no-border-radius">
        <div class="border-radius gradient-image">
          <ion-img [src]="item.image"></ion-img>
        </div>
        <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
          <ion-label>
            <h2 class="ion-text-wrap text-size-md text-color-accent font-bold">{{item.title}}</h2>
            <h3 class="text-size-sm text-color-secondary font-regular">{{item.subtitle}}</h3>
            <span class="text-size-xs text-color-secondary font-bold">{{item.price}}</span>
          </ion-label>
          <ion-label slot="end" class="ion-text-end">
            <!--- Rating Icon -->
            <div class="rating">
              <div *ngFor="let item of item.iconsStars; let i = index;">
                <ion-icon class="icon-font-sm icon-color-accent" [name]="item.iconStar">
                </ion-icon>
              </div>
            </div>
            <h3 class="text-size-sm text-color-secondary font-regular">{{item.review}}</h3>
            <h3 class="text-size-sm text-color-secondary font-regular">{{item.rating}}</h3>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
