<!-- GOOGLE CARD --COMPONENT 1 -->
<ion-grid *ngIf="data != null">
  <ion-row>
    <ion-col size="12" size-sm="6" *ngFor="let item of data.items">
      <ion-card class="ion-no-margin background-size border-radius no-box-shadow gradient-image"  [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}"> <!-- (click)="onEvent('onItemClick', item, $event)" -->
        <ion-card-header>
          <h2 class="ion-text-wrap text-size-xl text-color-light font-bold">{{item.title}}</h2>
        </ion-card-header>
        <ion-card-content>
          <h3 class="ion-text-wrap text-size-xs text-color-light font-light ion-padding-top">{{item.description}}</h3>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
