/* Style component 2
========================================================*/

ion-grid,
ion-row {
  height: 100%;

  .background-size {
    height: 250px;

    .title {
      position: absolute;
      bottom: 16px;
      left: 16px;
    }
  }

  form {
    .item-has-focus,
    .item-has-value {
      ion-input {
        border-bottom: 1px solid var(--cs-background-accent);
      }
    }

    ion-item {
      --inner-padding-end: 0;
      margin-bottom: 8px;

      ion-input {
        --background: var(--cs-background-primary) !important;
        border-bottom: 1px solid var(--cs-background-border);
      }

      ion-icon {
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 999;
      }

      ion-label {
        margin: 5px 0 0 0 !important;
        transform: none;
      }
    }
  }
}
