<!--  Theme Form - Form + Write Comment -->
<ion-content class="ion-no-padding" *ngIf="viewEntered">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides #wizardSlider *ngIf="data != null" pager="true"
        (ionSlideDidChange)="ionSlideDidChange()"
        (ionSlideReachStart)="ionSlideReachStart()"
        (ionSlideReachEnd)="ionSlideReachEnd()">
          <ion-slide *ngFor="let item of data.items;">
            <ion-card class="ion-padding-bottom"
            class="ion-text-start" >
              <div class="background-size"
              [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}">
              </div>
              <!--Card content-->
              <ion-card-content class="ion-text-center">
                <!--Wiazard Subtitle-->
                <p class="text-size-md text-color-accent font-ligh"t>{{item.welcome}}</p>
                <div class="clearfix"></div>
                <!--Wizard Title-->
                <h1 class="ion-text-wrap text-size-xl text-color-secondary font-bold">{{item.title}}</h1>
                <div class="clearfix"></div>
                <!--Wizard Description-->
                <p class="text-size-md text-color-secondary font-light ion-padding-top">{{item.description}}</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
        <!--Button section-->
        <div class="ion-margin-top" *ngIf="data != null">
          <ion-button class="text-color-accent ion-text-capitalize" expand="full" fill="clear" (click)="onNextFunc()" *ngIf="next">
            {{data.btnNext}}
          </ion-button>
          <ion-button class="text-color-accent ion-text-capitalize" expand="full" fill="clear" (click)="onFinishFunc()" *ngIf="!next">
            {{data.btnFinish}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
