<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Book package' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>{{qrcode_code}}</h2>
        <p>{{utility.removeNullStringFromString(qrcode_description)}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="ion-margin"></div>

  <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-start ion-margin-bottom">
        <ion-label position="floating">{{'Location' | translate }}</ion-label>
        <ion-select formControlName="area" multiple="false" >
          <ion-select-option *ngFor="let status of storageArea" [value]="status.id">{{status.name}}</ion-select-option>
          
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'commentWork' | translate }}</ion-label>
        <ion-textarea formControlName="name" ></ion-textarea>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="full" [disabled]="submitDisabled()" color="primary" type="submit">{{'Book now' | translate }}</ion-button>
    </div>
  </form>
  <div class="ion-padding-top">
    <ion-button expand="block" fill="outline" color="primary" (click)="cancelProcess()" >{{'cancelText' | translate }}</ion-button>
  </div>
</ion-content>
