<!-- Theme Segment - Segment List -->
<ion-page class="ion-page" *ngIf="viewEntered">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="data != null" class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment scrollable [(ngModel)]="selectedItem">
          <ion-segment-button class="ion-text-capitalize" value="Page1">
            <ion-label>{{data.segmentButton1}}</ion-label>
          </ion-segment-button>
          <ion-segment-button class="ion-text-capitalize" value="Page2">
            <ion-label>{{data.segmentButton2}}</ion-label>
          </ion-segment-button>
          <ion-segment-button class="ion-text-capitalize" value="Page3">
            <ion-label>{{data.segmentButton3}}</ion-label>
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
  </ion-header>
  <!-- Content-->
  <ion-content>
    <ion-grid *ngIf="data != null">

      <!--- SETTINGS PAGE1 SCREEN -->
      <ion-row class="page1" *ngIf="isEnabled('Page1') && data.page1 != null">
        <ion-col size="12" class="ion-no-padding">
          <ion-card class="ion-text-center ion-no-margin no-box-shadow no-border-radius">
            <ion-item lines="none" class="transparent">
              <ion-avatar slot="start" class="gradient-image">
                <img [src]="data.page1.image" alt="">
              </ion-avatar>
              <ion-label>
                <h1 class="ion-text-wrap text-size-md text-color-primary font-light">{{data.page1.title}}</h1>
                <p class="ion-text-wrap  text-size-xs text-color-secondary font-light">{{data.page1.subtitle}}</p>
              </ion-label>
            </ion-item>
            <div class="social-share">
              <!-- Followers-->
              <ion-item class="transparent" lines="none">
                <ion-label class="ion-text-center">
                  <span class="text-size-xs text-color-accent font-regular">{{data.page1.valueFollowers}}</span>
                  <h2 class="text-size-xs text-color-accent font-regular">{{data.page1.followers}}</h2>
                </ion-label>
              </ion-item>
              <!-- Following -->
              <ion-item class="transparent" lines="none">
                <ion-label class="ion-text-center">
                  <span class="text-size-xs text-color-accent font-regular">{{data.page1.valueFollowing}}</span>
                  <h2 class="text-size-xs text-color-accent font-regular">{{data.page1.following}}</h2>
                </ion-label>
              </ion-item>
              <!-- Post -->
              <ion-item class="transparent" lines="none">
                <ion-label class="ion-text-center">
                  <span class="text-size-xs text-color-accent font-regular">{{data.page1.valuePosts}}</span>
                  <h2 class="text-size-xs text-color-accent font-regular">{{data.page1.posts}}</h2>
                </ion-label>
              </ion-item>
            </div>
          </ion-card>
        </ion-col>

        <!-- Popular -->
        <ion-col size="12" class="ion-margin-bottom">
          <h1 class="ion-text-center ion-text-uppercase text-size-md text-color-primary font-bold">
            {{data.page1.category}}
          </h1>
        </ion-col>
        <ion-col size="12" size-md="4" class="ion-text-center ion-no-padding" 
        *ngFor="let item of data.page1.items;let i = index" (click)="onItemClickFunc(item, $event)">
          <ion-card class="ion-text-center no-border-radius no-box-shadow margin-half">
            <div class="border-radius gradient-image">
              <ion-img [src]="item.backgroundCard" alt=""></ion-img>
            </div>
            <ion-card-content>
              <span class="text-size-md text-color-secondary font-bold ion-text-capitalize">{{item.category}}</span>
              <h1 class="ion-text-wrap text-size-md text-color-primary font-light ion-padding-top">{{item.title}}</h1>
              <ion-button class="button-icon ion-text-capitalize" (click)="onLikeFunc(item, $event)">
                <ion-icon class="icon-color-primary icon-font-md" slot="start" 
                [ngClass]="{'active' : item.like.isActive}" [name]="item.like.icon"></ion-icon>
                {{item.like.number}} {{item.like.text}}
              </ion-button>
              <ion-button class="button-icon ion-text-capitalize" (click)="onCommentFunc(item, $event)">
                <ion-icon class="icon-color-primary icon-font-md" slot="start" [name]="item.comment.icon"></ion-icon>
                {{item.comment.number}} {{item.comment.text}}
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>



      <!--- SETTINGS PAGE2 SCREEN -->
      <ion-row class="page2" *ngIf="isEnabled('Page2') && data.page2 != null">
        <ion-col size="12" size-md="4" *ngFor="let item of data.page2.items; let i= index">
          <!-- Card -->
          <ion-card class="ion-no-margin background-size border-radius no-box-shadow gradient-image" 
          [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}" 
          (click)="onItemClickFunc(item, $event)">
            <ion-item lines="none" class="transparent">
              <!--Card-content-->
              <ion-label>
                <h2 class="text-size-md font-regular text-uppercase text-color-light">{{item.title}}</h2>
                <!--Description-->
                <h3 class="ion-text-wrap padding-top font-bold text-size-md text-color-light">{{item.description}}</h3>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      

      <!--- SETTINGS PAGE3 SCREEN -->
      <ion-row class="page3" *ngIf="isEnabled('Page3') && data.page3 != null">
        <ion-col size="12" size-md="4" *ngFor="let item of data.page3.items; let i= index" 
        (click)="onItemClickFunc(item, $event)">
          <!-- Card -->
          <ion-card class="ion-no-margin no-border-radius no-box-shadow">
            <div class="border-radius gradient-image">
              <img [src]="item.image" />
            </div>
            <ion-card-content class="transparent">
              <span class="text-size-sm font-bold text-uppercase text-color-secondary">{{item.time}}</span>
              <h1 class="ion-text-wrap font-bold padding-top padding-bottom text-color-primary text-size-md">
                {{item.title}}</h1>
              <p class="text-size-p text-color-secondary font-regular">{{item.description}}</p>
            </ion-card-content>
            <ion-button class="button-icon" (click)="onLikeFunc(item, $event)">
              <ion-icon class="icon-color-primary icon-font-md" slot="start" 
              [ngClass]="{'active' : item.like.isActive}" [name]="item.like.icon"></ion-icon>
              {{item.like.number}}
            </ion-button>
            <ion-button class="button-icon" (click)="onCommentFunc(item, $event)">
              <ion-icon class="icon-color-primary icon-font-md" slot="start" [name]="item.comment.icon"></ion-icon>
              {{item.comment.number}}
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</ion-page>
