.item-has-focus,
.item-has-value {
  ion-input {
    border-bottom: 1px solid var(--cs-background-accent);
  }
}
ion-item {
  --inner-padding-end: 0;

  ion-input {
    --background: var(--cs-background-primary) !important;
    border-bottom: 1px solid var(--cs-background-border);
  }

  ion-label {
    margin: 5px 0 !important;
    transform: none;
  }
}
