<ion-app>

  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{toolbarTitle}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!-- Content -->
  <ion-content>

    <!-- PAGE 1 -->
    <cs-image-gallery-layout-1
      *ngIf="isType(0)"
      [data]="data"
      (onFavorite)="onFavorite($event)"
      (onItemClick)="onItemClick($event)">
    </cs-image-gallery-layout-1>

    <!-- PAGE 2 -->
    <cs-image-gallery-layout-2
      *ngIf="isType(1)"
      [data]="data"
      (onFavorite)="onFavorite($event)"
      (onItemClick)="onItemClick($event)">
    </cs-image-gallery-layout-2>

    <!-- PAGE 3 -->
    <cs-image-gallery-layout-3
      *ngIf="isType(2)"
      [data]="data"
      (onFavorite)="onFavorite($event)"
      (onItemClick)="onItemClick($event)">
    </cs-image-gallery-layout-3>

  </ion-content>
</ion-app>
