<!-- FORGET PASSWORD --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar class="transparent">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content *ngIf="data != null" class="transparent">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding ion-align-items-center" *ngIf="data != null">
        <ion-col class="ion-padding" size="12" size-md="8" push-md="2">
          <!---Logo-->
          <img [src]="data.logo"/>
          <ion-item lines="none" class="ion-no-padding transparent">
            <ion-label>
              <!---Subtitle-->
              <h2 class="ion-text-wrap text-size-md text-color-primary font-regular">{{data.subtitle}}</h2>
              <!---Title-->
              <h1 class="ion-text-wrap text-size-xl text-color-accent font-bold ">{{data.title}}</h1>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">
          <!---Form-->
          <form>
            <!---Input field Email-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lableEmail}}</ion-label>
              <ion-input class="ion-margin-bottom" required type="email"
                [placeholder]="data.email"
                [(ngModel)]="item.email"
                [ngModelOptions]="{standalone: true}"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
              <ion-icon *ngIf="!isEmailValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Send button-->
            <ion-button expand="block" class="ion-margin-top button-default ion-text-capitalize ion-margin-bottom" (click)="onSendFunc()">
              {{data.send}}
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
